<!DOCTYPE html>
<html>
<head>
  <title>MegaUltraTweet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div class="dev">
  <div>DEV MENU</div>
  <nav>
    <ul>
      <li><%= link_to("Landing", root_path) %></li>
      <li><%= link_to("About", index_about_path) %></li>
      <li><%= link_to("Search", index_search_path) %></li>
      <li><%= link_to("Finde", index_finde_path) %></li>
      <li><%= link_to("DB Entries", index_dbentry_path) %></li>
    </ul>
  </nav>
</div>
<!--<div class="search">-->
  <!--<span><input type="text" class="search-field" placeholder="Search here">-->
  <!--<button type="submit" value="Search" class="search-button">Search</button></span>-->
<!--</div>-->
<body>

<%= yield %>

</body>
</html>
