<!DOCTYPE html>
<html>
<head>
  <title>MegaUltraTweet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div class="dev" style="display: none">
  <div>DEV MENU</div>
  <nav>
    <ul>
      <li><%= link_to("Landing", root_path) %></li>
      <li><%= link_to("About", index_about_path) %></li>
      <li><%= link_to("Search", index_search_path) %></li>
      <li><%= link_to("Find", index_find_path) %></li>
      <li><%= link_to("DB Entries", index_db_entry_path) %></li>
    </ul>
  </nav>
</div>
<div class="wrapper">
<%= form_tag({controller: "index", action: "db_search"}, method: "get", class: "search") do %>
    <%= search_field_tag(:q, nil, class: "search-field") %>
    <%= submit_tag("&#10148;".html_safe, :name => nil, class: "search-button") %>
<% end %>
</div>
<body>
<div class="se-pre-con"></div>
<%= yield %>

</body>
</html>
