<% require_relative '../../../app/models/dbentry_fetcher'
   fetcher = DbentryFetcher.new %>
<div class="wrapper" id="content">

  <div class="flex-container">

    <div class="flex-item list">
      <h1><span id="highlight">Trending short</span> in the DB</h1>
      <ul>

        <% short = fetcher.fetch_trending_short %>
        <% short.each do |entry| %>
            <li>
              <%= entry.get_text %>
            </li>
        <% end %>

      </ul>
    </div>

    <div class="flex-item list">
      <h1><span id="highlight">Hashtags</span> in the DB</h1>
      <ul>

        <% hashtags = fetcher.fetch_hashtags %>
        <% hashtags.each do |entry| %>
            <li>
              <%= entry.get_text %>
            </li>
        <% end %>

      </ul>
    </div>

    <div class="flex-item list">
      <h1><span id="highlight">Authors</span> in the DB</h1>
      <ul>

        <% authors = fetcher.fetch_authors %>
        <% authors.each do |entry| %>
            <li>
              <%= entry.get_name %>
            </li>
        <% end %>

      </ul>
    </div>

    <div class="flex-item flex-item-tweet list">
      <h1><span id="highlight">Tweets</span> in the DB</h1>
      <ul>

        <% tweets = fetcher.fetch_tweets %>
        <% tweets.each do |entry| %>
            <li>
              <%= entry.get_text %></li>
        <% end %>

      </ul>
    </div>

  </div>

  <div class="grid center list" style="display: none">
    <div class="col-1-3">
      <h1>Hashtags in the DB</h1>
      <ul>
        <% hashtags = fetcher.fetch_hashtags %>
        <% hashtags.each do |entry| %>
            <li>
              <%= entry.get_text %>
            </li>
        <% end %>
      </ul>
    </div>
    <div class="col-1-3">
      <h1>Authors in the DB</h1>
      <ul>

        <% authors = fetcher.fetch_authors %>
        <% authors.each do |entry| %>
            <li>
              <%= entry.get_name %>
            </li>
        <% end %>

      </ul>
    </div>
    <div class="col-1-3">
      <h1>Tweets in the DB</h1>
      <ul>

        <% tweets = fetcher.fetch_tweets %>
        <% tweets.each do |entry| %>
            <li>
              <%= entry.get_text %></li>
        <% end %>

      </ul>
    </div>
  </div>


  <div class="center list" style="display: none">

    <div>
      <h1>Hashtags in the DB</h1>
      <ul>

        <% hashtags = fetcher.fetch_hashtags %>
        <% hashtags.each do |entry| %>
            <li>
              <%= entry.get_text %>
            </li>
        <% end %>

      </ul>
    </div>

    <div>
      <h1>Authors in the DB</h1>
      <ul>

        <% authors = fetcher.fetch_authors %>
        <% authors.each do |entry| %>
            <li>
              <%= entry.get_name %>
            </li>
        <% end %>

      </ul>
    </div>

    <div>
      <h1>Tweets in the DB</h1>
      <ul>

        <% tweets = fetcher.fetch_tweets %>
        <% tweets.each do |entry| %>
            <li>
              <%= entry.get_text %></li>
        <% end %>

      </ul>
    </div>


  </div>
</div>