<div class="wrapper">
  <%= form_tag({controller: "index", action: "db_search"}, method: "get", class: "search") do %>
      <%= search_field_tag(:q, nil, class: "search-field") %>
      <%= submit_tag("Search", :name => nil, class: "search-button") %>
  <% end %>
  <div class="center list">
    <% if !@sobj.nil? %>
        <div>
          <h1>Tweets containing <%= @sobj.getSearchTerms.at(0).to_s %></h1>
        <ul class="list">
          <% tweets = @sobj.getTweets %>
          <% tweets.each do |tweet| %>
            <%= tweet.getText %>
          <% end %>
        </ul>
        </div>
    <% end %>


  </div>
  <h1>sub</h1>
</div>
