<div class="wrapper" id="content">

  <% if !@sobj.nil? %>
      <% terms = "" %>
      <% @sobj.get_search_terms.each { |term| terms += term + ", " } %>
      <% terms = terms.slice(0, terms.length-2) %>
      <% if @sobj.is_successful? %>
          <% paired_hashtags_popular = @sobj.get_paired_hashtags_popular %>
          <% paired_hashtags_trending = @sobj.get_paired_hashtags_trending %>
          <% crit_hashtags = "" %>
          <% @sobj.get_criteria_hashtags.each { |crit| crit_hashtags += crit.text + ", " } %>
          <% crit_hashtags = crit_hashtags.slice(0, crit_hashtags.length-2) %>
          <% pages = @sobj.get_webpages %>

          <h1 class="main-headline highlight"><%= crit_hashtags %></h1>

          <div class="flex-container">

            <% paired_hashtags_popular.each_pair do |anchor, sub_hash| %>
                <div class="flex-item list">

                  <div class="item-headline-container">
                    <h1 class="item-headline">
                      <%= "Popular Hashtags cooccurring with " %>
                      <span class="highlight">
                    <%= anchor.text %></span>
                    </h1>
                  </div>

                  <ul>
                    <% sub_hash.take(10).each do |hashtag, rank| %>
                        <%= link_to(content_tag(:li, hashtag.text), {action: "db_search", controller: "index", q: anchor.text+" "+hashtag.text}, data: {push: true}) %>
                    <% end %>

                  </ul>
                </div>
            <% end %>

            <% unless paired_hashtags_trending.blank? || paired_hashtags_popular.size > 1 %>
                <% paired_hashtags_trending.each_pair do |anchor, trending_partners| %>
                    <div class="flex-item list">

                      <div class="item-headline-container">
                        <h1 class="item-headline">
                          <%= "Trending Hashtags cooccurring with " %>
                          <span class="highlight">
                            <%= anchor.text %></span>
                        </h1>
                      </div>

                      <ul>
                        <% trending_partners.take(10).each do |hashtag| %>
                            <%= link_to(content_tag(:li, hashtag.text), {action: "db_search", controller: "index", q: anchor.text+" "+hashtag.text}, data: {push: true}) %>
                        <% end %>

                      </ul>
                    </div>
                <% end %>
            <% end %>

            <% unless pages.blank? %>
                <div class="flex-item flex-item-link list">

                  <div class="item-headline-container">
                    <h1 class="item-headline">
                      <%= crit_hashtags.blank? ? "Links posted by " : "Links associated with " %>
                      <span class="highlight">
                    <%= crit_hashtags.blank? ? crit_authors : crit_hashtags %></span>
                    </h1>

                  </div>
                  <ul>
                    <% pages.take(10).each do |page| %>
                        <%= link_to content_tag(:li, link_preview_content(page), class: "link-preview"), page.get_url %>
                    <% end %>

                  </ul>

                </div>
            <% end %>

          </div>
      <% else %>
          <% if !@sobj.is_valid? %>
              <h1>Invalid search</h1>
          <% elsif !@sobj.is_deprecated? %>
              <div class="content">
                <h1>No historical data about <span class="highlight"><%= terms %></span> available</h1>
              </div>
          <% else %>
              <div class="content">
                <h1><span class="highlight"><%= terms %></span> are not actively used anymore in this combination!</h1>
              </div>
          <% end %>
      <% end %>
  <% end %>

</div>