<div class="wrapper" id="content">
  <% if !@sobj.nil? %>
      <% if @sobj.is_successful? %>
          <% tweets = @sobj.get_tweets %>
          <% authors = @sobj.get_authors %>
          <% hashtags = @sobj.get_hashtags %>
          <% terms = "" %>
          <% @sobj.get_search_terms.each { |term| terms += term + ", " } %>
          <% terms = terms.slice(0, terms.length-2) %>
          <% crit_hashtags = "" %>
          <% @sobj.get_criteria_hashtags.each { |crit| crit_hashtags += crit.text + ", " } %>
          <% crit_hashtags = crit_hashtags.slice(0, crit_hashtags.length-2) %>
          <% crit_authors = "" %>
          <% @sobj.get_criteria_authors.each { |crit| crit_authors += crit.screen_name + ", " } %>
          <% crit_authors = crit_authors.slice(0, crit_authors.length-2) %>
          <% pages = @sobj.get_webpages %>
          <div class="flex-container">
            <div class="" style="display: none">
              <h1>You searched for <%= terms %></h1>

              <h2>Hashtags found:  <%= crit_hashtags.blank? ? "none" : crit_hashtags %></h2>

              <h2>Authors found: <%= crit_authors.blank? ? "none" : crit_authors %></h2>

            </div>
            <div class="flex-item flex-item-tweet list" style="display: none">

              <div class="item-headline-container">
                <h1 class="item-headline">
                  <%= crit_hashtags.blank? ? "Tweets by " : "Tweets containing " %><span id="highlight">
                    <%= crit_hashtags.blank? ? crit_authors : crit_hashtags %></span>
                </h1>
              </div>

              <ul>
                <% tweets.take(10).each do |tweet| %>
                    <li><%= tweet.get_text %></li>
                <% end %>
              </ul>
            </div>

            <div class="flex-item list">

              <div class="item-headline-container">
                <h1 class="item-headline">
                  <%= crit_hashtags.blank? ? "Hashtags used by " : "Hashtags cooccurring with " %><span class="highlight">
                  <%= crit_hashtags.blank? ? crit_authors : crit_hashtags %></span>
                </h1>
              </div>

              <ul>
                <% hashtags.take(10).each do |hashtag| %>
                    <%= link_to(content_tag(:li, hashtag.text), {action: "db_search", controller: "index", q: hashtag.text}, data: {push: true}) %>
                <% end %>

                <% hts = "" %>
                <% hashtags.take(10).each { |h| hts += " "+h.text } %>
              </ul>
            </div>

            <% unless crit_hashtags.blank? %>
                <div class="flex-item list">
                  <div class="item-headline-container">
                    <h1 class="item-headline">Authors associated with
                      <span class="highlight"><%= crit_hashtags %></span></h1>
                  </div>
                  <ul>
                    <% authors.take(20).each do |author| %>
                        <%= link_to content_tag(:li, "@"+author.screen_name), {action: "db_search", controller: "index", q: "@"+author.screen_name}, data: {push: true} %>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <div class="flex-item flex-item-link list">

              <div class="item-headline-container">
                <h1 class="item-headline">
                  <%= crit_hashtags.blank? ? "Links posted by " : "Links associated with " %><span class="highlight">
                <%= crit_hashtags.blank? ? crit_authors : crit_hashtags %></span>
                </h1>

              </div>
              <ul>
                <% pages.take(10).each do |page| %>
                  <%= link_to content_tag(:li, link_preview_content(page), class: "link-preview" ), page.get_url %>
                <% end %>

              </ul>

            </div>

          </div>
      <% else %>
          <% if !@sobj.is_valid? %>
              <h1>Invalid search</h1>
          <% else %>
              <div class="content">
                <h1>No historical data about <%= @sobj.get_search_terms.first %> available</h1>

                <h1><%= link_to "Search on Twitter instead?", action: "find", controller: "index", query: @sobj.get_search_terms.at(0).to_s %></h1>
              </div>
          <% end %>
      <% end %>
  <% end %>


</div>