<h1>Index#finde</h1>
<% if !@query.blank? %>
    <h1>You are searching for tweets containing <%= @query %></h1>

    <% @tweets.each do |tweet| %>
        <li><%= tweet.text %></li>
    <% end %>

    <h1>Hashtags in these tweets</h1>
    <% @hashtags.each do |element| %>
        <li><%= link_to element.to_s, action: "finde", controller: "index", query: element.to_s %></li>
    <% end %>

    <h1>TwitterHandles in these tweets</h1>
    <% @twitterHandles.each do |element| %>
        <li><%= link_to element.to_s, action: "finde", controller: "index", query: element.to_s %></li>
    <% end %>

    <h1>Webpages in these tweets</h1>
    <% @webpages.each do |element| %>
        <li><%= link_to element.to_s, action: "finde", controller: "index", query: element.to_s %></li>
    <% end %>
<% else %>
    <h1>Invalide search</h1>
<% end %>


