<div class="wrapper">
  <div class="center list">
    <% if !@query.blank? %>

        <h1>You are searching for tweets containing <%= @query %></h1>
        <ul>
        <% @tweets.each do |tweet| %>
            <li><%= tweet.text %></li>
        <% end %>
        </ul>

        <h1>Hashtags in these tweets</h1>
        <ul>
        <% @hashtags.each do |element| %>
            <li><%= link_to element.to_s, action: "finde", controller: "index", query: element.to_s %></li>
        <% end %>
        </ul>

        <h1>TwitterHandles in these tweets</h1>
        <ul>
        <% @twitterHandles.each do |element| %>
            <li><%= link_to element.to_s, action: "finde", controller: "index", query: element.to_s %></li>
        <% end %>
        </ul>

        <h1>Webpages in these tweets</h1>
        <ul>
        <% @webpages.each do |element| %>
            <li><a href="<%= element.to_s %>"><%= element.to_s %></a>
        <% end %>
        </ul>
    <% else %>
        <h1>Invalide search</h1>
    <% end %>
  </div>
</div>



