<div class="wrapper">
  <div class="center list">
    <% if !@query.blank? %>

        <h1>You are searching for tweets containing <%= @query %></h1>
        <h1><%= @tweets.count %> tweets were fetched</h1>
        <ul>
        <% @tweets.each do |tweet| %>
            <li><%= tweet.text %></li>
        <% end %>
        </ul>

        <h1>Hashtags in these tweets</h1>
        <ul>
        <% @countsHashtags.each do |key, element| %>
            <li><%= link_to key.to_s, action: "finde", controller: "index", query: key.to_s %> (<%= element.to_s %>)</li>
        <% end %>
        </ul>

        <h1>TwitterHandles in these tweets</h1>
        <ul>
        <% @countsTwitterHandles.each do |key, element| %>
              <li><%= link_to key.to_s, action: "finde", controller: "index", query: key.to_s %> (<%= element.to_s %>)</li>
        <% end %>
        </ul>

        <h1>Webpages in these tweets</h1>
        <ul>
        <% @countsWebpages.each do |key, element| %>
            <li><a href="<%= key.to_s %>"><%= key.to_s %></a>
        <% end %>
        </ul>
    <% else %>
        <h1>Invalide search</h1>
    <% end %>
  </div>
</div>



